{% extends 'layout.html' %} {% block navbar %}
<div class="sc-4 showcase">
  <div class="main-container">
    <h1 id="animates" class="showcase-maintext">IOE Notes: Mathematics</h1>
    <p class="showcase-subtext">Along with your journey..</p>
    <a href="ioe.html" class="btn-secondary"
      >Practice Now <i class="fas fa-chevron-down"></i
    ></a>
  </div>
</div>

<div class="container">
  <div class="blog-grid-container">
    <div class="blog-2-1">
      <div>
        <div class="written-blog-container">
          <p class="blog-title">aldkfja</p>
          <div class="line col-1"></div>
          <div class="social-grid-container">
            <div class="author-date">
              <p class="author">Posted By Administrator</p>
              <p class="date-posted">6th July</p>
            </div>
            <div class="social-icons">
              <p class="share">Share&#x293F;</p>
              <img
                class="social-icon"
                src="./up_images/social (1).png"
                alt=""
              />
              <img
                class="social-icon"
                src="./up_images/social (2).png"
                alt=""
              />
              <img
                class="social-icon"
                src="./up_images/social (3).png"
                alt=""
              />
            </div>
          </div>
          <p class="blog-content">
            Nepal has been hit hard by COVID-19, although the situation has
            improved more recently. As the outbreak became widespread in
            mid-2020, a nationwide lockdown was implemented from March to July
            in 2020, followed by localized lockdowns, including in the Kathmandu
            Valley up until mid-September. During this time transportation,
            education and tourism-related activities were significantly
            restricted.
            <br />
            <br />
            Since October, the number of cases has been declining steadily,
            allowing a gradual easing of movement restrictions. Nepal launched
            its vaccination program on January 27, 2021, and about 5.9 percent
            of the population (or 1,791,606 people) were inoculated by mid-March
            2021. Thus, there are good prospects that further outbreaks of
            COVID-19 can be contained.
            <br />
            <br />
            After contracting for the first time in 40 years in FY20-by 1.9
            percent-the economy showed signs of moderate recovery in the first
            half of FY21. Activity resumed in wholesale and retail trade,
            transport, and financial services, while favorable monsoons drove
            agricultural growth. However, tourism remained at a standstill and
            private investment anemic given high levels of overall uncertainty
            related to the epidemic as well as political developments.
            <br /><br />
            Uncertainty arising from the epidemic has also contributed to fiscal
            risks due to the degree of fiscal stimulus provided to support
            individuals and firms and which will need to eventually be rolled
            back for fiscal sustainability. Political uncertainty also
            heightened in December 2020 when the Prime Minister dissolved
            Parliament. The Supreme Court overturned the decision, reinstating
            Parliament in February 2021 and precipitating the split of the
            two-party majority coalition in March.
            <br />
            <br />
            Economic hardship is likely to have an impact on income and
            employment. The increasing number of unemployment applications and
            returning migrants could adversely affect progress in poverty
            reduction. The recent World Bank COVID-19 monitoring survey suggests
            there were widespread impacts of the pandemic on jobs and incomes,
            with more
            <br />
            <br />
            than two of every five economically active workers reporting an
            incidence of job loss or prolonged work absence. Women, young
            workers, and those engaged in nonagricultural activities have been
            the most severely affected. Credit growth recovered in recent
            months, albeit moderately. In the wake of the COVID-19 crisis, the
            central bank lowered its policy rate and took additional measures to
            support credit to the private sector, including refinancing programs
            for COVID-19-affected firms. As a result, credit to the private
            sector grew by 11.6 percent in the first half of FY21, still below
            pre-pandemic levels. Over the same period, deposits increased
            significantly due possibly to three key factors: higher
            precautionary savings, repatriation of savings by returning
            migrants, and reduced consumption amidst social distancing measures.
            Muted domestic demand has contributed to an improvement in the
            current account balance. The current account deficit narrowed by
            39.6 percent year-on-year (y-o-y) in the first half of FY21, thanks
            to a sharp contraction in imports (by 11.8 percent) and a recovery
            of remittance inflows (which grew by 6.7 percent y-o-y, after
            falling by 3.4 percent in FY20). Given limited amounts of foreign
            direct investment (FDI), external concessional loans have primarily
            financed the current account deficit. The central bank’s foreign
            exchange reserves increased moderately to US$11.3 billion by
            mid-January 2021, equivalent to 11.3 months of imports.
          </p>
        </div>
        <div>
          <!-- <aside class="sidebar">
          <p class="side-bar-content">&#x21ac; Maths Notes</p>
          <p class="side-bar-content">&#x21ac; Physics Notes</p>
          <p class="side-bar-content">&#x21ac; Biology Notes</p>
          <p class="side-bar-content">&#x21ac; English Notes</p>
          <p class="side-bar-content">&#x21ac;Chemistry Notes</p>
        </aside> -->
        </div>
      </div>
      <!-- <div class="blog-featured-marin"> -->
      <div class="card-blog-container">
        <p class="featured_post">Featured</p>
        <div class="line"></div>
        <div class="card-grid-container">
          <div class="card card1 less-margin">
            <div class="img_link_grid">
              <img class="card_image" src="./img/biology-min.png" alt="" />
              <div>
                <h1 class="chapter-name">Mathematics</h1>

                <a href="hall.html" class="btn-primary">Start </a>
              </div>
            </div>
          </div>
          <div class="card card1 less-margin">
            <div class="img_link_grid">
              <img class="card_image" src="./img/chemistry-min.png" alt="" />
              <div>
                <h1 class="chapter-name">Biology</h1>

                <a href="hall.html" class="btn-primary">Start </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock navbar %}
