<!-- <div class="fe  atured-categories">
  {% for side_post in side_posts %}
  <div>
    <img src="" alt="error" width="120px" height="110px" />
    <div class="categories-para-grid">
      <p>{{side_post.title}}</p>
      <p>September 9, 2021</p>
    </div>
  </div>
  {% endfor %}
</div>

<div class="extra_category" style="display: none">
  <div>
    <img
      src="https://source.unsplash.com/random"
      alt="error"
      width="90px"
      height="80px"
    />
    <p>This is a test post</p>
  </div>
</div> -->
